image:
  pullPolicy: Always

mode: prod # dev

storage:
  pvc:
    # -- PVC size
    size: 1Gi
    # -- StorageClassName for PVC
    storageClassName:
  nfs:
    # -- Use NFS
    enabled: false
    # -- NFS server
    server:
    # -- NFS path
    path:
    # -- Subpath for the volume mount
    subPath:

datastore:
  # -- Datastore type. Options are [Redis, LFS]
  type: Redis
  # -- Datastore path. Only applicable when datastore is LFS
  path: /lfs_store

stacklCore:
  # -- Stackl-core image
  image: quay.io/stackl/stackl-core:v0.4.0
  # -- Stackl core name
  name: stackl-core
  # -- Stackl core service type
  serviceType: LoadBalancer
  ingress:
    # -- Enable ingress creation
    enabled: true
    # -- Ingress hostname
    hostname: stackl.example.com
    # -- Ingress annotation
    annotations:
      # kubernetes.io/ingress.class: traefik
      # traefik.ingress.kubernetes.io/frontend-entry-points: https
    # -- Ingress TLS configuration
    tls:
      # - hosts:
      #   - stackl.example.com
      #   secretName: stackl
  ingressRoute:
    # -- Enable ingress route creation
    enabled: false
    # -- Ingress route hostname
    host: stackl.example.com
    # -- Ingress route annotations
    annotations: {}
    # -- Ingress route TLS configuration
    tls:
      secretName: stackl
  # -- Stackl core replicas
  replicaCount: 1
  # -- Stackl resource limits and requests
  resources:
    # -- Stackl resource limits
    limits:
      memory: 256Mi
      cpu: 300m
    # -- Stackl resource requests
    requests:
      memory: 256Mi
      cpu: 200m

stacklRedis:
  # -- Stackl redis image
  image: quay.io/stackl/stackl-redis:v5.0.3
  # -- Stackl redis deployment name
  name: stackl-redis
  # -- Stackl redis replicas
  replicaCount: 1
  # -- Security context for Stackl-Redis
  securityContext: {}
    # runAsUser: 1000
    # runAsGroup: 3000
    # fsGroup: 2000

stacklOpa:
  # -- Stackl OPA image
  image: quay.io/stackl/stackl-opa:v0.21.1
  # -- Stackl OPA deployment name
  name: stackl-opa
  ingress:
    # -- Enable ingress route creation
    enabled: true
    # -- Ingress hostname
    hostname: opa.example.com
    # -- Ingress annotation
    annotations:
      # kubernetes.io/ingress.class: traefik
      # traefik.ingress.kubernetes.io/frontend-entry-points: https
    tls:
      # - hosts:
      #   - opa.example.com
  ingressRoute:
    # -- Enable ingress route creation
    enabled: false
    # -- Ingress route hostname
    host: opa.example.com
    # -- Ingress route annotations
    annotations: {}
    # -- Ingress route TLS configuration
    tls:
      # secretName: opa
  # -- Stackl OPA replicas
  replicaCount: 1

# -- example imagePullSecrets: [name: pull-secret-name]
imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

log_level: debug

nodeSelector: {}

tolerations: []

affinity: {}
