image:
  pullPolicy: Always

mode: prod

stacklAgent:
  image: stacklio/stackl-agent:v0.2.1
  name: stackl-agent
  replicaCount: 1
  stacklHost:  stackl-core:8080
  secretHandler: base64
  agentName: common
  agentType: kubernetes
  redisHost: stackl-redis
  redisPort: 6379
  # secretHandler: vault
  # vaultAddr: https://vault.example.com
  # vaultRole: stackl
  # vaultMountPoint: auth/kubernetes
  # conjurVerify: "False"
  # authenticatorClientContainerName: conjur-auth-client
  # secretHandler: conjur
  # conjurApplianceUrl: https://conjur-conjur-oss.conjur.svc.cluster.local
  # conjurAccount: default
  # conjurAuthnTokenFile: /run/conjur/access-token
  # conjurAuthnUrl: https://conjur-conjur-oss.conjur.svc.cluster.local/authn-k8s/stackl
  # conjurAuthnLogin: host/conjur/authn-k8s/stackl/apps/conjur-namespace
  # conjurSslConfigMap: conjur-cert
  # conjurSslConfigMapKey: ssl-certificate

# example imagePullSecrets: [name: pull-secret-name]
imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

log_level: debug

nodeSelector: {}

tolerations: []

affinity: {}
